.figure-grid {
    display: grid;
    grid-template-columns: 24px repeat(3, minmax(100px, 1fr));
    gap: 0.75rem;
    align-items: start;
}

.figure-grid>.column-title {
    text-align: center;
}

.figure-grid>.row-title {
    align-self: stretch;
    display: grid;
    place-items: center;
    justify-content: center;
}

.figure-grid>.row-title>span {
    display: inline-block;
    transform: rotate(-90deg);
    white-space: nowrap;
}

.figure-grid>.cell {
    background: white;
    border-radius: 0.75rem;
    aspect-ratio: 1 / 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
    display: flex;
}

.model-viewer-card {
    flex: 1 1 auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 0.75rem;
    box-shadow: 0 0 0.3rem 0.075rem rgba(0, 0, 0, 0.15);
}

.model-viewer-card>.model-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    z-index: 1;
    color: black;
}

.model-viewer {
    width: 100%;
    height: 100%;
    background: #ffffff;
}


@media (max-width: 768px) {
    .figure-grid {
        grid-template-columns: 24px repeat(2, 1fr);
    }

    .figure-grid>.cell.hide-sm,
    .figure-grid>.column-title.hide-sm {
        display: none;
    }
}